{% extends 'sidebartemplate.html' %}
{% block title %}bytedist | {{ reviewDetail.title }}{% endblock %}
{% block maincontent %}
<div class="nk-gap-2"></div>
<div class="perp">
    <h2 class="nk-decorated-h-2 h3"><span>Reviews</span></h2>
</div>
<div class="nk-post-img2">
    <img style="max-height: 440px;" src="/media/{{ reviewDetail.image2 }}" alt="Miniatura Review detalle" />
</div>
{% endblock %}

{% block basecontent %}
<div class="nk-gap-2"></div>
<div class="nk-blog-post nk-blog-post-single containermov">

    <div class="nk-post-text mt-0">
        <h2 class="nk-post-title h3">{{ reviewDetail.title }}</h2>
        <div class="nk-post-date mt-10 mb-10">
            by <a href="#">{{ reviewDetail.author }}</a> | <span class="fa fa-calendar"></span>{{ reviewDetail.published_date|date:"d/m/y H:i" }}
            <!--<span class="fa fa-comments"></span> <a href="#">0 comments</a>-->
        </div>
        <p>{{ reviewDetail.content|safe }}</p>
    </div>

    <div class="nk-gap-2"></div>
    <h3 class="nk-decorated-h-2 h3"><span>Comentarios</span></h3>
    <div class="nk-gap"></div>
    <div class="nk-comment">
        {% load disqus_tags %}
        {% set_disqus_title post.slug %}
        {% disqus_show_comments %}
    </div>
</div>
{% endblock %}