{% extends 'sidebartemplate.html' %}
{% block title %}bytedist | search{% endblock %}
{% block basecontent %}
<div class="nk-tabs">
    <div class="tab-content">
        <div class="nk-gap-7"></div>
        <h2 class="nk-decorated-h-2 h3"><span>Busqueda</span></h2>
        <!--mobil-widget-ver-->
        <div style="text-align: center;">
            <h2 class="nk-post-title h3" style="color: #000000;">Noticias</h2>
        </div>
        {% if not posts_all %}
            <h2 class="nk-post-title h5" style="color: #000000;">No found data</h2>
        {% endif %}
        <div class="nk-gap-7"></div>
        <div class="nk-widget nk-widget-highlighted">
            {% for post in posts_all %}
            <div class="nk-widget-post">
                <a href="{{ post.get_post_detail_url }}" class="nk-post-image">
                    <img src="/media/{{ post.image1 }}" alt="Miniatura del post" />
                </a>
                <h3 class="nk-post-title"><a href="{{ post.get_post_detail_url }}">{{ post.title }}</a></h3>
                By {{ post.author }} | <span class="fa fa-calendar"></span> {{ post.published_date|date:"M d, Y" }}
            </div>
            {% endfor %}
        </div>
        <div class="nk-gap-2"></div>
        <div style="text-align: center;">
            <h2 class="nk-post-title h3" style="color: #000000;">Videos</h2>
        </div>
        {% if not videos_all %}
            <h2 class="nk-post-title h5" style="color: #000000;">No found data</h2>
        {% endif %}
        <div class="nk-widget nk-widget-highlighted">
            {% for v in videos_all %}
            <div class="nk-widget-post">
                <a href="{{ v.get_video_detail_url }}" class="nk-post-image">
                    <img src="/media/{{ v.thumbnail }}" alt="Miniatura del post" />
                </a>
                <h3 class="nk-post-title"><a href="{{ v.get_video_detail_url }}">{{ v.title }}</a></h3>
                By {{ v.author }} | <span class="fa fa-calendar"></span> {{ v.published_date|date:"M d, Y" }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
