{% extends 'base.html' %}

{% block content %}

{% block outofthebox %}
{% endblock %}
<div class="container2">
    {% block maincontent %}
    {% endblock %}
    <div class="row vertical-gap">
        <div class="col-lg-8">
            {% block basecontent %}
            {% endblock %}
        </div>
        <div class="col-lg-4 hiddenitem">
            <!--nk-sidebar-sticky-->
            <aside class="nk-sidebar nk-sidebar-right">
                <div class="desk-sidebar-noticias">
                    <div class="nk-gap-2"></div>
                    <div class="nk-widget-content">
                        <a class="twitter-timeline" data-lang="es" data-height="500" data-link-color="#2B7BB9" href="https://twitter.com/bytedist">Tweets by Bytedist</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                    </div>
                    <div class="nk-gap-2"></div>
                    <!--top 5-->
                    <h2 class="nk-decorated-h-2 h4"><span>Tendencia</span></h2>
                    {% for post in new_posts %}
                        <div class="nk-blog-post">
                            <h2 class="nk-post-title h5"><a href="{{ post.get_post_detail_url }}">{{ post.title }}</a></h2>
                            <a href="{{ post.get_post_detail_url }}" class="nk-post-img">
                                <img style="max-height: 180px;" src="/media/{{ post.image1 }}" alt="Miniatura del post" />
                            </a>
                        </div>
                    {% endfor %}
                    <!-- end top 5-->
                </div>
            </aside>
        </div>
    </div>
</div>
{% block pagebottomcontent %}
{% endblock %}

{% endblock %}