{% extends 'base.html' %}
{% block title %}Acerca de Bytedist{% endblock %}
{% block content %}
<div class="container">
    <div class="row vertical-gap">
        <div class="col-lg-12">
            <div class="nk-gap-2"></div>
            <hr class="hr-style1">
            <div class="nk-gap-7"></div>
        </div>
    </div>
    <div class="row vertical-gap">
        <div class="offset-lg-1 col-lg-10 offset-lg-1">
            <h2 class="nk-post-title h3"><span>¿Quienes somos?</span></h2>
            <div class="nk-gap-7"></div>

            <p><b>Bytedist</b> es una revista web de habla hispana, dedicada a todos los temas relacionado con los videojuegos. Donde se encuentra una excitante comunidad de jugadores, entusiasta y personas entendedoras de los juegos.</p>
            <p>Somos un equipo de profesionales experimentados, amantes de los videojuegos para promover exquisito contenido. Una revista en la que tu participación es muy importante para fomentar conversaciones que sean perspicaces, útiles y sobre todo divertidas. </p>
            <p><b>¿bytedist.com?</b> Una web que su entorno es basado en los videojuegos.</p>
        </div>
    </div>
</div>
{% endblock %}